@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.welcome {
  margin-left: 40px;
  font-size: 55px;
  text-align: left;
  height: 350px;
  right: 200px;
  bottom: 300px;
  padding-top: 250px;
  color: white;
  filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));
  font-family: 'Playfair Display', serif;


}

.sign-up {
  background: none;
  border-radius: 30px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  border: 1px solid rgb(255, 255, 255);
  margin-left: 40px;
  margin-top: 130px;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.156);
  font-family: 'Playfair Display', serif;

}

.sign-up:hover{
  transition: 1s;
  transform: scale(1.1);
  background-color: rgba(14, 138, 80, 0.295);


} 


.join-us{
  text-align: justify;
  padding-top: 4px;
  padding-bottom: 55px;
  padding-left: 270px;
  padding-right: 15px;
  color: white;
  margin-left: 40px;
  margin-top: 130px;
  font-size: 30px;
  font-family: 'Playfair Display', serif;


}

.gardener{
    box-sizing: border-box;
    overflow: inherit;
    position: absolute;
    width: 700px;
    left: 850px;
    top: 150px;
    overflow: hidden;
    z-index: -1;
    filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));
  }

