.plant-home-container{
    display: grid;
    grid-template-columns: repeat(2, 380px);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 35px;
    justify-items: center;
    justify-content:center ;
    margin-right: 35px;
}