*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url(../src/img/backgroundcurve.jpg);
  background-size: cover;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.form{
  box-sizing: border-box;
  overflow: inherit;
  position: absolute;
  width: 300px;
  left: 400px;
  top: 150px;
  overflow: hidden;
  z-index: -1;
  filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));
  background-image: url(../src/img/backgroundcurvelogin.png);
  padding: 40px;
  z-index: +1;
  border-radius: 5%;
  text-align: center;
}
.form h1{
  font-size: 20px;
  font-family: cursive;
  text-align: center;
}
input{
  text-decoration: none;
  background: transparent;
  border: none;
  border-bottom: 0.1px solid #000;
}

