
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url(../src/img/backgroundcurve.jpg);
  background-size: cover;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.plant{
  box-sizing: border-box;
  overflow: inherit;
  position: absolute;
  width: 368px;
  left: 700px;
  top: 200px;
  overflow: hidden;
  filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));
}
.shadow{
position: absolute;
width: 100px;
height: 33px;
left: 840px;
top: 530px;
background: rgba(0, 0, 0, 0.44);
border-radius: 5px 5px 0 0;
border-radius: 50%;
z-index: -1;
}
.welcome{
  margin-left: 40px;
 font-size: 30px;
 text-align: left;
 font-family: Arial, Helvetica, sans-serif;
 width: 450px;
 height: 350px;
 right: 200px;
 bottom: 300px;
 padding-top: 170px;
 filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));
}
.gardener{
  box-sizing: border-box;
  overflow: inherit;
  position: absolute;
  width: 400px;
  left: 500px;
  top: 150px;
  overflow: hidden;
  z-index: -1;
  filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));
}

.form{
  box-sizing: border-box;
  overflow: inherit;
  position: absolute;
  width: 300px;
  left: 400px;
  top: 150px;
  overflow: hidden;
  z-index: -1;
  filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));
  background-image: url(../src/img/backgroundcurvelogin.png);
  padding: 40px;
  z-index: +1;
  border-radius: 5%;
  text-align: center;
}
.form h1{
  font-size: 20px;
  font-family: cursive;
  text-align: center;
}
input{
  text-decoration: none;
  background: transparent;
  border: none;
  border-bottom: 0.1px solid #000;
}
.sign-up{
  background: none;
  border-radius: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #000;
  margin-left: 40px;
  margin-top: 5px;

  
}